body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #FFFBEB;
}


h1 {
    font-size: 90px;
    margin: 0;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2 h3 {
    font-family: 'Montserrat', sans-serif;
}

hr {    
    margin: 50px auto;
    border: #F8CBA6 dotted 5px;
    border-bottom: 0;
    width: 30%;

}

.top {

    background-color: #ECF9FF;
    position: relative;
    padding: 100px;
}

.top p {
    font-size: 2rem;
    color: #66BFBF;

}

.middle {
    margin: 0;
}


.bottom {
    margin: 0;
    
}

.bottom img {
    height: 20px;
    margin: 10px;
}

.bottom p {
    margin: 0;
}

.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
}

.top-cloud {
    position: relative;
    left: 15em;
    bottom: 1em;
}

.moutain {
    width: 65%;
}

.profile-pic {
    border-radius: 50%;
    height: 400px;
    margin-top: 2rem;
}

.skills-row {
    width: 50%;
    margin: 75px auto;
    text-align: left;
    line-height: 2;
}


.skills-row img {
    width: 30%;
}

.programming-img {
    float: left;
    margin-right: 2rem;
}

.coding-img {
    float: right;
    margin-left: 2rem;
}

.cert-img {
    float: left;
    margin-right: 2rem;
}