/* Colors
 #9AC5F4
 #99DBF5
 #A7ECEE
 #FFEEBB
 #0A6EBD
 */

 /* fonts
font-family: 'Caveat', cursive;
font-family: 'Montserrat', sans-serif;
 */

/* GLOBAL STYLES */

/* Body Styles */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -webkit-box-sizing: border-box;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

body {
    height: 100%;
    background: linear-gradient(#9AC5F4, #99DBF5, #A7ECEE, #FFEEBB) no-repeat;
    overflow: scroll;
}


/* Navigation Styles */

nav {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 5% 1rem;
    
}

nav > ul {
    display: flex;
    gap: 1rem;
    margin-left: 5px;
    list-style-type: none;
}

li, a {
    color: #FFEEBB;
    font-size: 1.3rem;
    text-decoration: none;
}

/* button styles */

button {
    background: #FFEEBB;
    border: 2px solid;
    border-radius: 5px;
    padding: 3px;
    font-size: 1rem;
    font-family: 'Caveat', cursive;
}

a:hover {
    font-size: 2rem;
    font-weight: bolder;
}

/* HOME PAGE STYLES */

/* CTA styles */

.cta {
    padding: 10% 15%;
}

.cta > h1 {
    color: #FFEEBB;
    font-size: 3.5rem;
    font-weight: 700;
}

.cta > p , .cta > h2, button {
    color: #0A6EBD;
}

.cta > p:first-child {
    font-size: 1.5rem;
}

.cta > p:last-of-type {
    font-size: 1.5rem;
}

.cta > h2 {
    font-size: 2.5rem;
}

.cta > button {
    margin: 1rem auto;
    padding: 7px;
}

.cta > button > a {
    color: #0A6EBD;
}

/* ABOUT ME STYLES */

.about {
    display: flex;
    gap: 10%;
    justify-content: space-between;
    margin: 10%;
    color: #0A6EBD;
}

.about > img {
    width: 350px;
    height: 250px;
    border-radius: 5%;
}

.about > article > h2 {
    font-size: 2.5rem;
}

.about > article > p {
    font-size: 1.4rem;
    padding-right: 25%;
}



/* PROJECTS PAGE STYLES */

.container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 3rem;
} 

.card {
    color: #0A6EBD;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    height: 400px;
    width: 350px;
    justify-self: center;
    justify-content: center;
    align-items: center;

}

.card > img {
    width: 100%;
    border-radius: 25px;
}

.one > img {
    width: 75%;
}


/* CONTACT ME STYLES */

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 60%;
    margin: 5% auto;
}

label {
    font-size: 1.5rem;
    color: #0A6EBD;
}

input, textarea {
    color: #0A6EBD;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #FFEEBB;
}

input[type=submit] {
    width: 100px;
    align-self: center;
    background: rgba(255,255,255,0);
    border: 2px solid;
    border-radius: 5px;
    padding: 3px;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0A6EBD;
}

input[type=submit]:hover {
    font-size: large;
    font-weight: bolder;
}


/* FOOTER STYLES */
.social {
    display: flex;
    gap: 5%;
    justify-content: center;
}

.social > a > img {
    width: 20px;
}

.social > a:hover {
    font-weight: normal;
    font-size: 0;
}

/* Mobile Styles  */

@media (max-width: 750px) {
    nav > ul > li > a {
        font-size: 1rem;
    }

    .cta > h1 {
        font-size: 2.5rem;
    }
    .cta > h2 {
        font-size: 1.8rem;
    }

    .about {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .about > article {
        text-align: center;
    }

    .about > article > p {
        padding: 0 10%;
        font-size: 1.2rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        
    }

    a:hover {
        font-weight: normal;
        font-size: 1.3rem;
    }
}
